/* Grid de Features */
main>section:nth-child(2) footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 16px
}

/* Media queries para grid */
@media (max-width: 768px) {
    main>section:nth-child(2) footer {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 12px;
    }
}

@media (max-width: 480px) {
    main>section:nth-child(2) footer {
        grid-template-columns: 1fr;
        gap: 8px;
    }
}


/* Footer */
footer {
    background-color: var(--background);
    border-top: 1px solid var(--border);
    text-align: center;
    padding: 16px;
    padding-bottom: 2rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: flex-start;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    small {
        color: var(--text-muted);
        font-size: 0.875rem;
    }
}
